.Main_box{
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    height: 90vh;
    background: #1f2122;
}
.main_flex{
    justify-content: center;
    align-items: center;
}
.ccc{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@keyframes up-down {
    0% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(-10px);
    }
  }

.scale_up_top {
	-webkit-animation: scale_up_top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale_up_top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes scale_up_top {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
  }
  @keyframes scale_up_top {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
  }
  
  .rotate_center{
    -webkit-animation: rotate_center 0.2s ease-in-out 2s infinite alternate both;
	        animation: rotate_center 0.2s ease-in-out 2s infinite alternate both;
  }
  @-webkit-keyframes rotate_center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate_center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  